{% extends "base.html.twig" %}

{% block body %}
        <div class="jumbotron col-sm-2 col-md-12 bg-dark text-white-50">
            <h1 class="display-3">Bem vindo a Antheia</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>Para informações, entre em contato pelo email : hborges9294@gmail.com</p>
            <p>Responsável : Henrique Borges da Silva</p>
        </div>
{% endblock %}
